# Node modules
node_modules

# img for README
img

# Git
.git
.gitignore

# Docker files
Dockerfile
.dockerignore

# Logs
*.log
npm-debug.log*

# Build output
build
dist

# Environment files
.env
.env.*

# IDE / OS
.vscode
.idea
.DS_Store
Thumbs.db

# Docs
README.md

# Pipeline file (not needed in image)
azure-pipelines.yaml

# Misc
coverage
.cache